.mainBlock.hlt_KENJE
  a[name="KENJE"]
  table.wrp
    tr
      td.left
        h2.dictNm
          a[href="http://ejje.weblio.jp/category/dictionary/kenje" title="和英辞典"]
            | 研究社 新和英中辞典での「管内」の英訳
      td.right
        div[style="float:right;"]

  b.clrBc
  .kijiWrp
    .hideDictWrp
      p.hideDictBtn[onclick="toggleHideDictConfirm('hideDictConfirmKENJE');"]
      #hideDictConfirmKENJE.hideDictConfirm[style="display:none;"]
        .hideDictConfirmMsg[onclick="popUpPremiumModalWindowHideDict('http://ejje.weblio.jp/content/%E7%AE%A1%E5%86%85', false);"]
          span.hideDictConfirmMsgX
            | ×
          |  この辞書を今後表示しない
        .hideDictConfirmLink
          | ※辞書の非表示は、
          a[href="http://ejje.weblio.jp/dict-order-setting" target="_blank"]
            | 設定画面
          | から変更可能
    .kiji
      h2.midashigo[title="管内"]
        | かんない 管内
      .Kejje
        .level1
          p.lvlBje
            a.crosslink[href="http://ejje.weblio.jp/content/%E7%AE%A1%E5%86%85%E3%81%AB" title="管内にの英語"]
              | 管内に
            | [を]
          p.kenjeEnE
            | within [
            a.crosslink[href="http://ejje.weblio.jp/content/throughout" title="throughoutの意味"]
              | throughout
            | ] the 
            a.crosslink[href="http://ejje.weblio.jp/content/jurisdiction" title="jurisdictionの意味"]
              | jurisdiction
            |  [
            a.crosslink[href="http://ejje.weblio.jp/content/district" title="districtの意味"]
              | district
            | ] 《
            a.crosslink[href="http://ejje.weblio.jp/content/of" title="ofの意味"]
              | of
            | 》.
      br
      script[type="text/javascript"]
        | ');document.write('<ins class="adsbygoogle" style="display:inline-block;min-width:320px;max-width:1200px;width:100%;height:100px" data-ad-client="ca-pub-2521481089881749" data-ad-slot="6444832701" data-ad-region="Weblio_ejje_upper";></' + 'ins>');(window.weblioAdsByGoogle || []).push({}); //--> 
    .kijiFoot
      span.wList
        a[href="http://ejje.weblio.jp/category/dictionary/kenje" title="索引トップ"]
          | 索引
      span.wList
        a[href="http://ejje.weblio.jp/category/dictionary/kenje/ka/54" title="用語の索引"]
          | 用語索引
      span.wList
        a[href="http://ejje.weblio.jp/ranking/dictionary/kenje" title="ランキング"]
          | ランキング
      span.wList
        a[href="http://ejje.weblio.jp/subcategory/kenje" title="カテゴリー"]
          | カテゴリ
  .clr
