<div class="mainBlock hlt_JMDCT">
<!--開始 JMdict-->
<a name="JMDCT"></a>
<table class="wrp"><tr>
<td class="left"><h2 class="dictNm"><a href="http://ejje.weblio.jp/category/dictionary/jmdct" title="JMdict">JMdictでの「半規管」の英訳</a></h2></td>
<td class="right">
<div style="float:right;">

</div>
</td>
</tr></table>
<b class="clrBc"></b>
<div class="kijiWrp">
<div class="hideDictWrp">
<p class="hideDictBtn" onclick="toggleHideDictConfirm('hideDictConfirmJMDCT');"></p>
<div class="hideDictConfirm" style="display:none;" id="hideDictConfirmJMDCT">
<div class="hideDictConfirmMsg" onclick="popUpPremiumModalWindowHideDict('http://ejje.weblio.jp/content/%E5%8D%8A%E8%A6%8F%E7%AE%A1', false);">
<span class="hideDictConfirmMsgX">×</span> この辞書を今後表示しない</div>
<div class="hideDictConfirmLink">※辞書の非表示は、<a href="http://ejje.weblio.jp/dict-order-setting" target="_blank">設定画面</a>から変更可能</div>
</div>
</div>
<div class="kiji">
<h2 class="midashigo" title="半規管">半規管</h2>
<div class="Jmdct">
<p class="jmdctYm"><a href="http://ejje.weblio.jp/content/%E8%AA%AD%E3%81%BF%E6%96%B9" title="読み方の英語" class="crosslink">読み方</a>：<a href="http://ejje.weblio.jp/content/%E3%81%AF%E3%82%93%E3%81%8D%E3%81%8B%E3%82%93" title="はんきかんの英語" class="crosslink">はんきかん</a></p>
<div class="jmdctGls"><table>
<tr>
<td class="jmdctT">
<!--AVOID_CROSSLINK--><b class="jmdctL">文法情報</b><!--/AVOID_CROSSLINK-->
</td>
<td>（<a href="http://ejje.weblio.jp/content/%E5%90%8D%E8%A9%9E" title="名詞の英語" class="crosslink">名詞</a>）</td>
</tr>
<tr>
<td class="jmdctT">
<!--AVOID_CROSSLINK--><b class="jmdctL">対訳</b><!--/AVOID_CROSSLINK-->
</td>
<td> <a href="http://ejje.weblio.jp/content/semicircular+canals" title="semicircular canalsの意味" class="crosslink">semicircular canals</a> </td>
</tr>
</table></div>
</div>
<br>
<script type="text/javascript">
<!--
/* cp775 */document.write('<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></' + 'script>');document.write('<!-- Weblio_ejje_1stdic_native_renew1602 -->');document.write('<ins class="adsbygoogle" style="display:inline-block;min-width:320px;max-width:1200px;width:100%;height:100px" data-ad-client="ca-pub-2521481089881749" data-ad-slot="6444832701" data-ad-region="Weblio_ejje_upper";></' + 'ins>');(window.weblioAdsByGoogle || []).push({});
//-->
</script>

</div>


<div class="kijiFoot">
<span class="wList"><a href="http://ejje.weblio.jp/category/dictionary/jmdct" title="索引トップ">索引</a></span><span class="wList"><a href="http://ejje.weblio.jp/category/dictionary/jmdct/ha/38" title="用語の索引">用語索引</a></span><span class="wList"><a href="http://ejje.weblio.jp/ranking/dictionary/jmdct" title="ランキング">ランキング</a></span>
</div>
</div>
<!--終了 JMdict-->
<div class="clr"></div>
</div>
