.container
  h1 英語論文執筆サポートサービス
  .row
    .col-md-3
      h5 原文
      = text_area_tag :original, @original, :class=>"text_area form-control"
    .col-md-1
      span [id='arrow1', class="glyphicon glyphicon-arrow-right"]
    .col-md-4
      = text_area_tag :ja_sentence, '', :disabled=>true, :class=>"text_area form-control"
      span [id='arrow2', class="glyphicon glyphicon-triangle-bottom"]
      h8 翻訳
      .en
        = text_area_tag :translated_ja_sentence, '', :disabled=>true, :class=>"text_area form-control"
        span [class="glyphicon glyphicon-triangle-bottom"]
        span [class="glyphicon glyphicon-pencil"]
        = text_area_tag :en_sentence, '', :class=>"text_area form-control"
      br
      = link_to '翻訳を開始する', translate_sentence_path, :id=>:start_translate, :class=>"btn btn-primary", method: :post, remote: true 
      = link_to '次の文章を翻訳する', translate_sentence_path, :id=>:next_sentence, :class=>"btn btn-info", method: :post, remote: true 
    .col-md-1
      span [id='arrow3', class="glyphicon glyphicon-arrow-right"]
    .col-md-3
      h5 翻訳後
      = text_area_tag :edit_en_original, @edit_en_original, :class=>"text_area form-control"

<div class="mainBlock hlt_JMDCT">
<!--開始 JMdict-->
<a name="JMDCT"></a>
<table class="wrp"><tr>
<td class="left"><h2 class="dictNm"><a href="http://ejje.weblio.jp/category/dictionary/jmdct" title="JMdict">JMdictでの「深層学習」の英訳</a></h2></td>
<td class="right">
<div style="float:right;">

</div>
</td>
</tr></table>
<b class="clrBc"></b>
<div class="kijiWrp">
<div class="hideDictWrp">
<p class="hideDictBtn" onclick="toggleHideDictConfirm('hideDictConfirmJMDCT');"></p>
<div class="hideDictConfirm" style="display:none;" id="hideDictConfirmJMDCT">
<div class="hideDictConfirmMsg" onclick="popUpPremiumModalWindowHideDict('http://ejje.weblio.jp/content/%E6%B7%B1%E5%B1%A4%E5%AD%A6%E7%BF%92', false);">
<span class="hideDictConfirmMsgX">×</span> この辞書を今後表示しない</div>
<div class="hideDictConfirmLink">※辞書の非表示は、<a href="http://ejje.weblio.jp/dict-order-setting" target="_blank">設定画面</a>から変更可能</div>
</div>
</div>
<div class="kiji">
<h2 class="midashigo" title="深層学習">深層学習</h2>
<div class="Jmdct">
<p class="jmdctYm"><a href="http://ejje.weblio.jp/content/%E8%AA%AD%E3%81%BF%E6%96%B9" title="読み方の英語" class="crosslink">読み方</a>：<a href="http://ejje.weblio.jp/content/%E3%81%97%E3%82%93%E3%81%9D%E3%81%86%E3%81%8C%E3%81%8F%E3%81%97%E3%82%85%E3%81%86" title="しんそうがくしゅうの英語" class="crosslink">しんそうがくしゅう</a></p>
<div class="jmdctGls"><table>
<tr>
<td class="jmdctT">
<!--AVOID_CROSSLINK--><b class="jmdctL">文法情報</b><!--/AVOID_CROSSLINK-->
</td>
<td>（<a href="http://ejje.weblio.jp/content/%E5%90%8D%E8%A9%9E" title="名詞の英語" class="crosslink">名詞</a>）</td>
</tr>
<tr>
<td class="jmdctT">
<!--AVOID_CROSSLINK--><b class="jmdctL">対訳</b><!--/AVOID_CROSSLINK-->
</td>
<td> <a href="http://ejje.weblio.jp/content/deep+learning" title="deep learningの意味" class="crosslink">deep learning</a>; <a href="http://ejje.weblio.jp/content/deep+machine+learning" title="deep machine learningの意味" class="crosslink">deep machine learning</a> </td>
</tr>
</table></div>
</div>
<br>
<script type="text/javascript">
<!--
/* cp775 */document.write('<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></' + 'script>');document.write('<!-- Weblio_ejje_1stdic_native_renew1602 -->');document.write('<ins class="adsbygoogle" style="display:inline-block;min-width:320px;max-width:1200px;width:100%;height:100px" data-ad-client="ca-pub-2521481089881749" data-ad-slot="6444832701" data-ad-region="Weblio_ejje_upper";></' + 'ins>');(window.weblioAdsByGoogle || []).push({});
//-->
</script>

</div>


<div class="kijiFoot">
<span class="wList"><a href="http://ejje.weblio.jp/category/dictionary/jmdct" title="索引トップ">索引</a></span><span class="wList"><a href="http://ejje.weblio.jp/category/dictionary/jmdct/shi/108" title="用語の索引">用語索引</a></span><span class="wList"><a href="http://ejje.weblio.jp/ranking/dictionary/jmdct" title="ランキング">ランキング</a></span>
</div>
</div>
<!--終了 JMdict-->
<div class="clr"></div>
</div>

